<%= devise_error_messages! %>
<div class="card modal-form login" style="display: block; top: 50%; margin: 0;">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<h3> Password Recovery </h3>
	  <div class="field">
	    <h6 class="field-title"> email</h6>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Reset Password" %>
	  </div>
	<% end %>

	<%= render "students/shared/links" %>
</div>
