<div class="card modal-form login" style="display: block; top: 50%; margin: 0;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3> Admin Login <h3>
    <div class="field">
      <h6 class="field-title"> email</h6>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <h6 class="field-title"> password</h6>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field" id="remember">
        <%= f.check_box :remember_me, class: "checkbox", style: "padding: 0; width: 16px; height: 16px;"%>
        <h6 class="field-title"> remember me</h6>       

      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>
