<!DOCTYPE html>
<html>
  <head>
    <title>Rails Decal Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <%end%>
    <%= yield %>
    <div class="overlay">x</div>
  </body>
</html>
